$primary-color: black;
$secondary-color: pink;
$dark-gray: #333839;
$light-gray: #D7D8D8;

.primary-button {
  
}

.button {
  background-color: $light-gray;
  color: white;
  border: 1px solid $dark-gray;
  float: right;
  margin-top: 3em;
}
