@import './colors';

.primary-button {

}

.attention-button {
  margin-top: 4em;
  background-color: $button-blue;
  border-radius: 90px;
  color: white;
  font-size: 20px;
  float: right;
  border: 3px solid $light-gray;
  padding: 1em;
  text-align: center;
  width: 330px;
  margin-right: 25%
}

.attention-button:hover {
  background-color: $hover-blue;
  color: #F4F0E4;
}

.login-button input {
  background-color: $homepage-yellow;
  border-radius: 10px;
  height: 2.5em;
  width: auto;
  padding: 10px 30px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.login-button input:hover {
  background-color: #ebb838;
  color: white;
}
