$primary-color: black;
$secondary-color: pink;
$dark-gray: #333839;
$light-gray: #D7D8D8;
$button-blue: #2B90F5;
$hover-blue: #1B77D3;
$homepage-yellow: #F7BE00;


.primary-text {
  color: $primary-color
}

.secondary-text {
  color: $secondary-color;
}


.logo {
  margin-top: 150px;
  font-size: 220px
}
