$primary-color: black;
$secondary-color: pink;
$dark-gray: #333839;
$light-gray: #D7D8D8;

.logins {
  background-color: #F4F0E4;
  color: #444B6E;
  margin: 8em auto;
  width: 800px;
  border-radius: 10px;
  text-align: justify;
  padding: 2em;
}
