@import './colors';

.event-details {
  margin-top: 20px;
  width: 90%;
  margin-left: 150px;
}

.event-specifics {
  margin-top: 34px;
  font-size: 20px;
  float: left;
  width: 90%;
}

.complete-schedule {
  margin-top: 70px;
  margin-right: 150px;
  float: right;
  margin-bottom: 20px;
}

.space-it {
  margin-top: 20px;
}

.schedule-pending {
  margin-top: 40px;
  font-size: 20px;
}
