@import './colors';

::-webkit-input-placeholder {
  font-size: 11px;
}

::-moz-placeholder {
  font-size: 11px;
}

::-ms-input-placeholder {
  font-size: 11px;
}

::placeholder {
  font-size: 14px;
}

input, textarea {
  background-color: #faf4e3;
  width: 60%;
  height: 2em;
}

input:focus, textarea:focus {
  outline-color: $medium-yellow
}

.form-title {
  margin-bottom: 30px
}

.event-form {
  border-right: solid $dark-gray;
}

.rsvp-form, .event-form {
  margin: 0px 40px;
  margin-top: 60px;
  width: 100%;
}

.form-field {
  margin-bottom: 30px
}

.event-form input, .rsvp-form input {
  margin-left: 20px
}

.textarea-box {
  margin-top: 8px;
  margin-right: 10px;
  min-height: 60px;
  width: 90%
}

label {
  font-size: 16px;
}

.rsvp-submit, .move-it {
  margin-left: 36%
}

.timeslots-label {
  font-weight: 700;
  font-size: .92857143em
}

.sub-label {
  font-size: .92857143em;
}

.new-form {
  margin-right: 60px
}

.limited-box {
  width: 90%
}
