@import './colors';

.yellow-strip {
  background-color: $homepage-yellow;
  height: 1.7em;
  width: 100%
}

#flash-message {
  padding: 10px;
  background-color: $light-gray;
  border: 2px solid $dark-gray;
  text-align: center;
  color: maroon;
}

.red-alert {
  padding: 15px;
  background-color: #E3B8B3;
  border: 2px solid #912113;
  color: black;
  width: 350px;
  margin-bottom: 30px
}

.underline {
  text-decoration: underline;
}

.fading-background {
  background: image-url('open-planner.jpg');
  min-width: 100%;
  min-height: 96vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
}

.spacer {
  height: 8em;
  width: 100%
}

.space-it {
  margin-top: 20px;
}

.space-below {
  height: 4em;
}

.spaced-gap {
  height: 2em;
}

.mini-space {
  height: .8em;
}

.to-align {
  height: 1em;
}
