$primary-color: black;
$secondary-color: pink;
$dark-gray: #333839;
$light-gray: #D7D8D8;
$homepage-yellow: #F7BE00;

.logins {
  background-color: $dark-gray;
  color: white;
  margin: 8em auto;
  width: 800px;
  border-radius: 10px;
  text-align: justify;
  padding: 2em;
}
