@import './colors';

.login-background {
  background: image-url('organized-desk.jpg');
  min-width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
}

.spacer {
  height: 8em;
  width: 100%
}

.logins {
  background-color: white;
  color: $dark-gray;
  border: 2px solid $homepage-yellow;
  width: 550px;
  border-radius: 10px;
  text-align: justify;
  padding: 2em;
  margin: auto
}

.field {
  margin-bottom: 14px
}

// .line-it-up {
//   display: flex;
// }
//
// .label {
//   margin-right: 10px
// }
