@import './colors';

.login-background {
  background: image-url('organized-desk.jpg');
  min-width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
}

.logins {
  background-color: $dark-gray;
  color: white;
  margin: 8em auto;
  width: 800px;
  border-radius: 10px;
  text-align: justify;
  padding: 2em;
}
