@import './colors';

.event-details {
  margin-top: 20px;
  width: 90%;
  margin-left: 60px;
}

.event-specifics {
  margin-top: 34px;
  font-size: 20px;
  float: left;
  width: 90%;
}

.complete-schedule {
  margin-top: 35px;
  margin-bottom: 20px;
}

.schedule-pending {
  margin-top: 80px;
  font-size: 20px;
}

.left-column {
  margin-top: 20px;
  width: 40%;
  margin-left: 80px;
  margin-right: 100px;
  float: left
}

.right-column {
  margin-left: 50px;
}

.index-page {
  background: image-url('desk.jpg');
  min-width: 100%;
  min-height: 86vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.index-tile {
  background-color: $medium-yellow;
  opacity: .95;
  border-radius: 9px;
  width: auto;
  height: auto;
  margin: 20px 15px;
  filter: drop-shadow(0 0 0.75rem $light-gray)
}

.event-name {
  color: $dark-gray;
  font-size: 20px;
  margin: 10px;
  text-align: center;
  font-weight: bold
}

.event-name:hover {
  color: $homepage-yellow
}

.rsvp-status {
  text-align: center;
  margin: 10px;
}

.container, .containerR, .containerL {
  background: rgba(255, 235, 173, .7);
  color: $dark-gray;
  border: 2px solid $homepage-yellow;
  margin-left: 60px;
  border-radius: 60px;
  padding: 2em;
}

.containerR {
  margin-left: 10%;
  width: 90%
}

.containerL {
  margin-top: 1em;
  width: 42%
}
