@import './colors';

.event-bumper {
  width: 800px;
  height: 2px;
  margin:0 auto;
  border-top: 1px solid $homepage-yellow;
  padding-top: 50px
}

.event-details {
  margin-top: 30px;
  width: 90%;
  margin-left: 60px;
}

.event-specifics {
  margin-top: 34px;
  font-size: 20px;
  float: left;
  width: 90%;
}

.complete-schedule {
  margin-top: 35px;
  margin-bottom: 20px;
}

.left-column {
  margin-top: 20px;
  width: 40%;
  margin-left: 80px;
  margin-right: 100px;
  float: left
}

.right-column {
  margin-left: 50px;
}

.index-tile {
  background-color: $medium-yellow;
  opacity: .95;
  border-radius: 9px;
  width: auto;
  height: auto;
  margin: 20px 15px;
  filter: drop-shadow(0 0 0.75rem $light-gray);
}

.event-name {
  color: $dark-gray;
  font-size: 20px;
  line-height: 150%;
  margin: 10px;
  text-align: center;
  font-weight: bold
}

.event-name:hover {
  color: $button-blue
}

.rsvp-status {
  text-align: center;
  margin: 10px;
}

.container, .containerR, .containerL {
  background-color: #fff7db;
  color: $dark-gray;
  border: 4px solid $homepage-yellow;
  margin-left: 60px;
  border-radius: 10px;
  padding: 2em;
}

.containerR {
  margin-left: 10%;
  padding-top: 60px;
  width: 90%;
}

.containerL {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 42%
}

.schedule-table {
  margin: 0 auto
}

.awaiting-details {
  margin-top: 40px
}

#awaiting-rsvps {
  margin-bottom: 20px;
  font-size: 14px;
  color: #2db7f5;
}

#awaiting-invitees {
  font-size: 18px;
}

.progress-bar {
  width: 80%;
  margin: auto;
  margin-top: 20px
}
