@import './colors';

#site-title {
  font-size: 20px
}

hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, .1), rgba(255, 255, 255, 1), rgba(0, 0, 0, .1));
}

.primary-header {
  text-align: center;
  font-size: 40px;
  color: $dark-gray;
  padding-top: 40px;
}

.secondary-header {
  text-align: center;
  font-size: 34px;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: normal;
  color: $dark-gray;
}

.primary-subheader {
  color: $homepage-yellow;
  font-size: 26px
}

.secondary-subheader {
  text-align: center;
  font-size: 35px;
  margin-bottom: 40px
}

.body-text {
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.centered {
  text-align: center;
}

.centered-all-around {
  text-align: center;
  margin-top: 30%;
}

.details {
  color: $dark-gray
}

.fine-print {
  font-size: 9px;
}

.thank-you {
  margin-top: 160px
}
