$primary-color: black;
$secondary-color: pink;
$dark-gray: #333839;
$light-gray: #D7D8D8;

.primary-header {
  text-align: center;
  font-size: 40px;
  color: $dark-gray;
  padding: 50px 0px;
}

.primary-subheader {

}

.secondary-header {

}

.secondary-subheader {

}

.label {

}

.label-subtext {

}
