@import './colors';

#welcome-page {
  background: image-url('welcome-background.jpg');
  min-width: 100%;
  min-height: 96vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
}

.how-to-box {
  border: 4px solid white;
  border-radius: 10px;
  width: auto;
  height: 400px;
  margin-left: 60px;
  margin-top: 100px;
}

.user-question {
  margin-top: 9.8em;
  text-align: right;
  margin-right: 32%;
  font-size: 16px;

  a {
    color: white;
  }
}

#how-to-one {
  margin-left: 80px
}

.first-box-text {
  margin-top: 40%
}

.box-text {
  margin-top: 33%
}

.last-box {
  margin-right: 30px
}
